<div class="min-h-screen flex items-center bg-blue-50 justify-center  relative overflow-hidden">
    <div class="absolute hidden md:block opacity-50 -top-10 left-110">
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 316" width="125" height="316">
            <g>
                <path d="m23.4 221.8l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-100/50"></path>
                <path d="m31.2 229.6l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-200"></path>
                <path d="m39 237.4l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-200/50"></path>
                <path d="m46.8 245.2l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-200/75"></path>
                <path d="m54.6 253.1l-1.3-3.1v-315.4l1.3 3.1z" class="fill-blue-200"></path>
                <path d="m62.4 260.9l-1.2-3.1v-315.4l1.2 3.1z" class="fill-blue-300/50"></path>
                <path d="m70.3 268.7l-1.3-3.1v-315.4l1.3 3.1z" class="fill-blue-300/75"></path>
                <path d="m78.1 276.5l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-300"></path>
                <path d="m85.9 284.3l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-400/50"></path>
                <path d="m93.7 292.1l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-400/75"></path>
                <path d="m101.5 299.9l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-400"></path>
                <path d="m109.3 307.8l-1.3-3.1v-315.4l1.3 3.1z" class="fill-blue-500/50"></path>
            </g>
        </svg>
    </div>
    <div class="absolute hidden md:block opacity-50 -bottom-10 right-130 rotate-180">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 316" width="125" height="316">
            <g>
                <path d="m23.4 221.8l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-100/50"></path>
                <path d="m31.2 229.6l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-200"></path>
                <path d="m39 237.4l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-200/50"></path>
                <path d="m46.8 245.2l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-200/75"></path>
                <path d="m54.6 253.1l-1.3-3.1v-315.4l1.3 3.1z" class="fill-blue-200"></path>
                <path d="m62.4 260.9l-1.2-3.1v-315.4l1.2 3.1z" class="fill-blue-300/50"></path>
                <path d="m70.3 268.7l-1.3-3.1v-315.4l1.3 3.1z" class="fill-blue-300/75"></path>
                <path d="m78.1 276.5l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-300"></path>
                <path d="m85.9 284.3l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-400/50"></path>
                <path d="m93.7 292.1l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-400/75"></path>
                <path d="m101.5 299.9l-1.3-3.1v-315.3l1.3 3.1z" class="fill-blue-400"></path>
                <path d="m109.3 307.8l-1.3-3.1v-315.4l1.3 3.1z" class="fill-blue-500/50"></path>
            </g>
        </svg>
    </div>
    <div class="mb-0 w-screen lg:mx-auto lg:w-[500px] card shadow-lg border-none shadow-slate-100 relative">
        <div class="bg-white shadow-md rounded-xl p-8 max-w-md w-full">
            <div class="flex flex-col  mb-6 space-y-3">
                <h1 class="text-xl items-center text-center font-bold text-blue-600">Welcome Back!</h1>
                <h2 class="text-md items-center text-center font-semibold text-gray-500">Reset Your Sollution Password
                </h2>
                <p class="text-gray-500 mt-2 font-medium text-sm">
                    To ensure a secure password, it must meet the following criteria:
                </p>
                <ul class="list-disc list-inside text-gray-600 text-sm text-left mt-2 space-y-1">
                    <li>Minimum length of 8 characters</li>
                    <li>At least one lowercase letter</li>
                    <li>At least one uppercase letter</li>
                    <li>At least one number</li>
                    <li>At least one special character (e.g., !@#$%^&*)</li>
                </ul>
            </div>
            <form class="space-y-5">
                <div class="gap-5">
                    <div class="relative w-full">
                        <label for="password" class="block text-sm font-medium text-gray-600 mb-1">
                            Password <span class="text-red-500">*</span>
                        </label>
                        <input [type]="showPassword ? 'text' : 'password'" id="password" name="password"
                            [(ngModel)]="password" #passwordCtrl="ngModel"
                            class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-400 text-gray-700 pr-10"
                            placeholder="Enter your password" required minlength="8" pattern="^(?=.*[A-Z]).{8,}$" />
                        <button type="button" (click)="showPassword = !showPassword"
                            class="absolute top-1/2 right-3 -translate-y-1/2 flex items-center text-gray-500">
                            <svg *ngIf="!showPassword" class="shrink-0 size-4 mt-6" width="24" height="24"
                                stroke="currentColor" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
                                <path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68">
                                </path>
                                <path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
                                <line x1="2" y1="2" x2="22" y2="22"></line>
                            </svg>
                            <svg *ngIf="showPassword" class="shrink-0 size-4 mt-6" width="24" height="24"
                                stroke="currentColor" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg>
                        </button>
                        <p *ngIf="passwordCtrl.invalid && passwordCtrl.touched" class="text-red-500 text-xs mt-1">
                            Must contain uppercase & 8+ length.
                        </p>
                    </div>
                    <div class="relative w-full mt-4">
                        <label for="confirmPassword" class="block text-sm font-medium text-gray-600 mb-1">
                            Confirm Password <span class="text-red-500">*</span>
                        </label>
                        <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword"
                            name="confirmPassword" [(ngModel)]="confirmPassword" #confirmPasswordCtrl="ngModel"
                            class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-400 text-gray-700 pr-10"
                            placeholder="Confirm password" required />
                        <button type="button" (click)="showConfirmPassword = !showConfirmPassword"
                            class="absolute top-1/2 right-3 -translate-y-1/2 flex items-center text-gray-500">
                            <svg *ngIf="!showConfirmPassword" class="shrink-0 size-4 mt-6" width="24" height="24"
                                stroke="currentColor" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
                                <path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68">
                                </path>
                                <path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
                                <line x1="2" y1="2" x2="22" y2="22"></line>
                            </svg>
                            <svg *ngIf="showConfirmPassword" class="shrink-0 size-4 mt-6" width="24" height="24"
                                stroke="currentColor" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg>
                        </button>
                        <p *ngIf="password !== confirmPassword && confirmPasswordCtrl.touched"
                            class="text-red-500 text-xs mt-1">
                            Passwords do not match.
                        </p>
                    </div>
                </div>
                <button type="button" (click)="onSubmit()" [disabled]="isLoading"
                    class="w-full cursor-pointer py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white text-sm rounded-lg shadow-md transition flex items-center justify-center">
                    <span *ngIf="!isLoading">Reset New Password</span>
                    <span *ngIf="isLoading" class="flex items-center">
                        <svg class="animate-spin h-4 w-4 mr-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                            </circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
                        </svg>
                        Resetting...
                    </span>
                </button>
                <div *ngIf="message" class="text-center mt-4 text-sm font-medium text-gray-600">
                    {{ message }}
                </div>
            </form>
        </div>
    </div>
</div>